body {
  grid-template-columns: 1fr minmax(min-content, 50rem) auto 1fr;
}

main {
  padding: 1rem;
}

main p, main ul, main ol {
  font-family: Georgia, "DejaVu Serif", serif;
  line-height: 1.4rem;
}

h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px dotted;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar .post-date {
  font-size: 0.6rem;
  font-weight: bold;
}

#sidebar .summary {
  margin-left: 0.4rem;
  font-size: 0.6rem;
  font-style: italic;
  line-height: 0.8rem;
}

.article-summary h2 {
  margin-bottom: 0.4rem;
  border-bottom: 0;
}

.article-summary + .article-summary {
  margin-top: 1rem;
  border-top: 1px dotted;
}

.conspicuous {
  font-weight: bold;
}

.date-info {
  margin-bottom: 0.6rem;
  line-height: 1.2rem;
}

.toctitle {
  font-weight: bold;
}

body main .toc {
  float: right;
  width: 33%;
  margin: 0 0 0.4rem 1rem;
  padding: 0.4rem;
  background: inherit;
  border: 1px dotted;
  font-size: 0.6rem;
}

body main .toc ul {
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  line-height: 0.8rem;
}

body main .toc ul ul {
  margin-left: 0.6rem;
}

body main .toc a {
  text-decoration: none;
}

body main .toc a:hover {
  text-decoration: underline;
}

body main .toc ul li {
  margin-top: 0.4rem;
}

body main ul.breadcrumb {
  margin: -0.6rem 0 0.4rem 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.6rem;
  line-height: 0.8rem;
}

body main ul.breadcrumb a {
  text-decoration: none;
}

body main ul.breadcrumb a:hover {
  text-decoration: underline;
}

@media (max-width: 840px) {
  body {
    grid-template-areas:
      ". header  ."
      ". main    ."
      ". sidebar ."
      ". footer  .";
  }

  #sidebar {
    display: block;
    width: 100%;
    grid-area: sidebar;
  }

  .toc {
    display: none;
  }
}
